@font-face {
  font-family: 'Franklin-Gothic'; 
  src: url('../font/FranklinGothicBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Custom-Font';
  src: url('../font/CustomFont.ttf') format('truetype');
}

* {
  font-family: 'Custom-Font', sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.notify-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 9999;
}

.notify-body {
  position: relative;
  background-color: rgba(0, 0, 0, 0.85);
  max-width: 415px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(-20px);
}

.notify-body.show {
  opacity: 1;
  transform: translateY(0);
}

.notify-text {
  color: #fff;
  font-size: 18px;
  flex-grow: 1;
}

.notify-icon {
  font-size: 24px;
  color: #fff;
}

.notify-body.inform {
  background-color: rgba(0, 0, 255, 0.334);
}

.notify-body.success {
  background-color: rgba(0, 128, 0, 0.334);
}

.notify-body.error {
  background-color: rgba(255, 0, 0, 0.334);
}
